@import "~chartist/dist/chartist.css";

#kalkiscontainer {
  max-width: 600px;
}

#kalkulator {
  border-top: 8px solid rgba(230,51,35,0.1);
  border-bottom: 8px solid rgba(230,51,35,0.1);
  padding: 1em 0;
}

.slideandnumber {
  display: flex;
}
.slideandnumber .number {
  width: 4em;
  text-align: right;
  padding-left: 1em;
}

.balanced {
  color: rgb(0,152,112);
}
.unbalanced {
  color: rgb(230,51,35);
}
.balanced .ct-series-a .ct-area {
  fill: rgb(0,152,112);
}
.balanced .ct-series-a .ct-line {
  stroke: rgb(0,152,112);
}

.unbalanced .ct-series-a .ct-area {
  fill: rgb(230,51,35);
}
.unbalanced .ct-series-a .ct-line {
  stroke: rgb(230,51,35);
}
